/* container for basic calculator */
.container {
  width: 450px;
  height: auto;
  margin: 40px auto;
  background: #f3f3f3;
  text-align: center;
  border-radius: 18px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  padding: 18px;
}
/* display input  */
.input {
  background: #f3f3f3;
  color: #0d0c0c;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  font-size: 2em;
  border-radius: 8px;
  padding: 22px;
  margin-bottom: 16px;
  text-align: right;
}
/* button container */
.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}
/* button style */
.btn {
  /* width: 60px; */
  padding: 8px;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  font-size: 1.5em;
  border-radius: 8px;
  cursor: pointer;
}

